# Environment & secrets
.env
.env.*

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Airflow
logs/
airflow.db
airflow.cfg

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# OS
.DS_Store
